c/problem1
c/problem10
c/problem11
c/problem12
c/problem13
c/problem14
c/problem15
c/problem16
c/problem18
c/problem19
c/problem2
c/problem20
c/problem21
c/problem21b
c/problem22
c/problem23
c/problem24b
c/problem3
c/problem4
c/problem5
c/problem6
c/problem7
c/problem8
c/problem9
